@{
    ViewBag.Title = "Confirmar correo electrónico";
}
<h2>Gestión de Cuenta</h2>
<h4>@ViewBag.Title.</h4>
<hr/>
<div>
    <p>
        Gracias por confirmar su correo electrónico. @Html.ActionLink("Haga clic aquí para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
