@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 data-step="1" data-intro="Bienvenido a este proyecto">Control de Cambios</h1>
    <p class="lead">Este sistema está diseñado para llevar el control de requerimientos y seguimiento de varios proyectos.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Acerca del sistema</h2>
        <p>
            Este sistema está siendo diseñado por diferentes estudiantes de la UCR
            durante el desarrollo de su proyecto de Ingeniería de Software I, como un
            medio de aprendizaje de la herramienta .NET.
        </p>
        <p><a class="btn btn-default" href="http://asp.net">Conoce .NET &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Acerca del código</h2>
        <p>
            El código está siendo mantenido por estos mismos estudiantes en una plataforma
            de software libre llamada GitHub, puedes revisar el código, colaborar y ayudar a
            la comunidad o puedes utilizarlo para llevar a cabo tu propia herramienta.
        </p>
        <p><a class="btn btn-default" href="https://github.com/DarkJ24/ControldeCambios">Ve el código &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Acerca de la institución</h2>
        <p>
            Estos desarrolladores hicieron este proyecto durante su estudio en la Universidad
            de Costa Rica, específicamente durante su carrera de Computación para su proyecto
            de Ingeniería de Software I.
        </p>
        <p><a class="btn btn-default" href="http://ucr.ac.cr">Conoce UCR &raquo;</a></p>
    </div>
</div>